@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Charmonman:400,700');

//font family
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Charmonman', cursive;

//font sizes
$font-size-x-small : 12px;
$font-size-small   : 14px;
$font-size-regular : 16px;
$font-size-large   : 24px;
$font-size-x-large : 32px;
$font-size-xx-large: 48px;

//Weights
$font-weight-light    : 300;
$font-weight-regular  : 400;
$font-weight-semi-bold: 600;
$font-weight-bold     : 700;

//Colors
$color-typo-primary: #d2dae2;
$color-typo-white  : #FFFFFF;
$color-red : #ff3838;
$color-typo-warning: #fff200;
$color-typo-success: #3ae374;
$color-background  : #4b4b4b;
$color-blue-sky    : #4bcffa;
$color-sunset-orange: #ff5e57;

//Typography
h1, h2, p{
  margin-top: 0;
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
}