@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Roboto:400,500,700";
@import "grid";
$font-color : #989898;
$font-black : #292929;
$background : #fafafa;
$background-white : #FFFFFF;
$background-hover : #f1f1f1;
$background-transparent : transparent;
$background-sidebar : whitesmoke;
$list-active : #dcdcdc;
$color-overplace : #e2e2e2;
*{
  box-sizing: border-box;
  transition: all 3ms ease-in-out;
}
body{
  margin: 0;
  padding: 0;
  background: $background;
  font-family: 'Roboto', sans-serif;
  position: relative;
}
.shadow{
  box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
  -moz-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
  -webkit-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
}
.header-fixed{
  top: 0;
  position: fixed;
  display: inline-flex;
  z-index: 1102;
  width: 100%;
  padding: 0 15px;
  background: $background-white;
  @extend .shadow;
}
.container{
  width: 1300px;
  margin: auto;
  position: relative;
  top: 100px;
}
button{
  min-width: 44px;
  min-height: 44px;
  cursor: pointer;
  padding: 5px;
  outline: none;
  border: none;
}
button.nav{
  margin: 10px 0;
  @extend button;
  color: $font-color;
  background: $background-transparent;
  display: block;
  border-radius: 50%;
  transition: all .15s ease-in-out;
}
button.nav:active{
  background: $background-hover;
}
.logo{
  display: block;
  position: relative;
  margin: 0 15px;
}
.logo > img{
  width: 100%;
  height: 100%;
  display: block;
}
.sidebar{
  position: absolute;
  min-width: 250px;
  background: $background-sidebar;
  display: block;
  left: -250px;
  height: 100%;
  z-index: 1100;
  transition: all .2s ease-in-out;
}
.sidebar.open{
  left: 0;
}
.sidebar-list{
  padding: 0;
}
.sidebar-list > li{
  padding: 0 30px;
  min-height: 48px;
  display: block;
  min-width: 48px;
}
.sidebar-list > li > a{
  @extend .text-medium;
  vertical-align: middle;
  line-height: 49px;
  color: $font-black;
  display: block;
  text-decoration: none;
}
.sidebar-list > li:hover{
  background: $list-active;
  cursor: pointer;
}
.sidebar-wrapper{
  display: block;
  width: 100%;
}
.sidebar-wrapper.active{
  position: fixed;
  top: 64px;
  background: #0000009e;
  height: 100%;
  z-index: 1100;
}
// Typography
.text-medium{
  font-size: calc(1rem - 2px);
  font-weight: 500;
}

// Icon
.icon{
  margin-right: 15px;
  font-size: 20px;
  vertical-align: middle;
}
.float-right{
  margin-left: auto;
}
img.avatar{
  padding: 5px;
  margin: 10px 0;
  max-width: 44px;
  vertical-align: middle;
}
.card{
  background: $background-white;
  position: relative;
  @extend .shadow;
  padding: 10px 20px;
}
.card-header{
  margin: 10px auto 15px auto;
  padding: 0 15px;
  vertical-align: middle;
  line-height: 34px;
  font-weight: 500;
  font-size: calc(2rem - 10px);
}
.card-maps, .card > .thumb{
  margin: -10px -20px;
}
#maps{
  height: 250px;
  width: 100%;
}
.card-body{
  margin: 20px auto;
}
img.img-responsive{
  width: 100%;
  height: auto;
}
@media (max-width: 600px) {
  .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .slidebar{
    z-index: 1;
  }
  h1{
    font-size: 1rem;
  }
}

.name-place{
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
  color: $font-black;
  margin: 0 auto;
}
h1.title-thumb{
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 0;
}
.address-thumb{
  font-size: calc(1rem - 2px);
}
.rating-wrapper{
  padding: 5px 10px;
  color: $font-black;
  font-weight: 500;
  top: 0;
  right: 0;
  position: absolute;
  background: $background;
}
.rating{
  top: -6px;
  position: relative;
}
.btn{
  display: inline-block;
  padding: 10px 16px;
  border-radius: 2px;
  font-weight: 500;
  letter-spacing: .007px;
  font-size: 1rem;
  text-decoration: none;
  background: $color-overplace;
  color: $font-black;
}
.btn-primary{
  background: #ff0000;
  color:#FFFFFF;
}
.loader{
  margin: auto;
  height: 10vh;
  width: calc(100% / 2);
  display: block;
  background: #00000000 url(/assets/img/loader.svg) no-repeat center;
  background-size: 10vh;
  position: relative;
  top: -10px;
}
.screen-result{
  font-weight: 700;
  font-size: 2rem;
  display: block;
  width: 100%;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #989898;
  color: #989898;
  padding-bottom: 5px;
}
.form-group:first-of-type{
  margin-top: 20px;
}
.form-group{
  display: block;
  margin-bottom: 20px;
}
.form-group>label{
  display: block;
  margin-bottom: 10px;
}
.form-group > input {
  width: 100%;
  font-size: calc(2rem - 4px);
  padding: 5px;
}